/* selector element digunakan unntuk merujuk pada elemnet html berdasarkan element itu*/
body{
    background-color: antiquewhite;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* selector id digunakan untuk merujuk pada element html berdasarkan atribut id*/
#header{
    background-color: burlywood;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding penulisan tunggal */
    padding: 5px 5px 5px 5px;
}
#header h1{
    color: rgb(14, 13, 14);
}
#header blockquote{
    background-color: yellow;
    border: 3px dotted;
    padding-bottom: 10px;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px
}
.menu a{
    text-decoration: none;
    color: black;
}
.gambar{
    text-align: center;
}
/* selector pseudo-element digunakan untuk merujuk bagian tertentu dari element*/
/*bisa bagian awal atau bagian akhir saja dalam semua element*/
.fp::first-letter{
    color: rgb(13, 12, 14);
    font-size: 70px;
}
.koleksi{
    text-align: center;
}
.koleksi img{
    width: 20%;
}
.promo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-left: 20px;   
}